.contact-body{
    position: relative;
    min-height: 100vh;
    background-image: url('../misc/good-back.gif');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Tektur', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-foot{
    margin-top: 10rem;
}
