.home{
  /* change color here */
    color:white;
}

.home-back{

  background-image: url('../misc/try2.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}



@media screen and (max-width: 960px) {
  .home-back{
    background-image: unset;
    background-color: black;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
}

@media screen and (max-width: 786px) {
  .home-back{
   
    
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
}



