.intro{
  font-family: 'DynaPuff', cursive;
  margin-top: 7rem;
  position: relative;
  color: white;
  text-shadow: 2px 2px black;
  
}

.intro-top{
  margin-bottom: 5rem;
}

.flexing{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200%;
  margin-top: -10rem;

}

.intro-btns{
    margin: 10rem 0rem;
    display: flex;
    justify-content: space-evenly;
}


#no-decor{
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 30vw;
    height: 15vh;
    line-height: 7rem;
    background-color: #494949;
    /* Change color here */
    color: white;
  }
  
  .btn span,
  .btn .icon {
    position: absolute;
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .btn span{
    width: 72%;
    left: 0px;
    line-height: inherit;
    font-size: large;
  }

  .btn .icon {
    right: 0;
    width: 28%;
    background-color:#333333;
  }
  
  
  .btn span, 
  .btn div, 
  .btn i {
    transition: all 1.2s ease-out 0.2s;
  }
  
  .icon {
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .btn:hover span {
    left: -72%;
  }
  
  .btn:hover .icon {
    width: 100%;
  }
  
  .btn:hover .icon .fa {
    font-size: 3rem;
  }

  .icon-size{
   
    height: 7vh;
    width: 7vh;
  }

  .bottom{
    margin-top: 12vh;
  }
  @media screen and (max-width: 960px) {
    .intro-btns{
      margin: 5rem 0rem;
    }
    .btn{
      font-size: 2rem;
    }

    .flexing{
      flex-direction: column!important;
    }
    .bottom{
      margin-top:22vh;
    }

  }
  @media screen and (max-width: 820px) {
    
    .intro-btns{
        display: block;
        
    }   
    .btn{
        margin-top: 2%;
        width: 50vw;
    }

    .btn span{
        font-size: large;
    }
  }

  @media screen and (max-width: 640px) {

    .btn span{
        font-size: medium;
    }
  }
  @media screen and (max-width: 360px) {

    .btn span{
        font-size: small;
    }
  }