.intro{
  font-family: 'Vollkorn', serif;
  margin-top: 7rem;
}

.flexing{
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-btns{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}


#no-decor{
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 30vw;
    height: 15vh;
    line-height: 7rem;
    background-color: rgb(76, 81, 105);;
    color: #fff;
  }
  
  .btn span,
  .btn .icon {
    position: absolute;
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .btn span{
    width: 72%;
    left: 0px;
    line-height: inherit;
    font-size: large;
  }

  .btn .icon {
    right: 0;
    width: 28%;
  }
  
  
  .btn span, 
  .btn div, 
  .btn i {
    transition: all 1.2s ease-out 0.2s;
  }
  
  .icon {
    width: 200px;
    background-color: rgb(88, 94, 125);;
  }
  
  .btn:hover span {
    left: -72%;
  }
  
  .btn:hover .icon {
    width: 100%;
  }
  
  .btn:hover .icon .fa {
    font-size: 3rem;
  }

  .icon-size{
   
    height: 7vh;
    width: 7vh;
  }

  @media screen and (max-width: 800px) {
    
    .intro-btns{
        display: block;
        
    }   
    .btn{
        margin-top: 2%;
        width: 50vw;
    }

    .btn span{
        font-size: small;
    }
  }