.More-back{
    background-image: url("../misc/The-one.gif");
     /* Full height */
    min-height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.more-foot{
    margin-top: 10rem;
    margin-bottom: 0rem;
}

@media screen and (max-width: 640px) {
    .More-back{
        height: max-content;
    }
  
}

