.Morebody-intro{
    margin-top: 3.5rem;

}
#page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}
#top-heading, #box h3{
    
    font-family: 'Tektur', cursive;
    text-shadow:2px 2px 2px black;
}
#top-heading{
    margin-top: 10rem;
    font-size: xx-large;
    margin-bottom: 8rem;
}

#box{
    /* background-image: url("/src/misc/gaming-back.gif"); */
    display: block;
    text-align: left;
    border-radius: 10px;
    box-shadow: 1px 2px 20px #BFBFBF;
    background-blend-mode: difference;
    border: 1px solid rgba(218, 202, 182, 0.2);
    margin: 10%;
    
}
#box h3{
    font-size: x-large;
    letter-spacing: 0.4rem;
    font-weight: bolder;
    text-align: center;
    text-shadow:3px 3px 3px black;
}

.interests{
    margin-bottom: 3rem;
}

.interests p, .interests h3, #box p{
    font-family: 'Turret Road', cursive;
}
.interests p, #box p{
    font-size: large;
    text-align: justify;
    text-shadow:2px 2px 2px black;
    padding: 2%;
}

@media screen and (max-width: 786px) {
    .Morebody-intro{
        margin-top: 4rem;
    }
    #page-grid{
        grid-template-columns: 1fr;
    }
    #box h3 {
     font-size: large;
     display: flex;
    }



    #top-heading{
        margin-bottom: 6rem;
    }


    #top-heading{
        margin-bottom: 6rem;
    }

    .interests{
        margin-bottom: 6rem;
    }
    .interests p, #box p {
        font-size: medium;
    }
    #box{
        background-image: url('../misc/Pac_men.jpg');
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   }


@media screen and (max-width: 640px) {
    .Morebody-intro{

        margin-top: 6rem;
    }
    .interests{
        margin-bottom: 8rem;
    }
    #box h3{
        font-size: medium;
    }
    .interests p, #box p {
        font-size: small;
    }
    #top-heading, #box h3{
        font-family: 'Bungee Outline', cursive;
       
    }
}

