.More-back{
    background-image: url("../misc/The-one.gif");
     /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-transform: uppercase;
}

#page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    
}

#top-heading, #box h3{
    font-family: 'Bungee Outline', cursive;
}
#top-heading{
    font-size: xx-large;
}

#box{
    /* background-image: url("/src/misc/gaming-back.gif"); */
    display: block;
    text-align: left;
    border-radius: 10px;
    box-shadow: 1px 2px 20px #BFBFBF;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(218, 202, 182, 0.2);
    margin: 15%;
    
}
#box h3{
    font-size: x-large;
    letter-spacing: 0.4rem;
    font-weight: bolder;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.interests p,#box p{
    font-family: 'Special Elite', cursive;
    font-size: large;
}

@media screen and (max-width: 786px) {
    #box h3 {
     font-size: large;
    }
    .interests p, #box p {
        font-size: medium;
    }
   }


@media screen and (max-width: 640px) {
    .More-back{
        height: max-content;
    }
    #box{
        background-image: url('../misc/Pac_men.jpg');
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #page-grid{
        grid-template-columns: 1fr;
    }
}