.navbar {
  position: fixed;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 20vh;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Vollkorn', serif;
  margin-bottom: 2.5rem;
  animation-name: navbar-animation;
  animation-duration: 0.5s;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: background-color 500ms ease-in-out;
  z-index:2;
}
.navbar.sticky {
  height: 20vh;
  top: 0;
  left: 0;
  background-color: #95B4DE;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

.leftbar {
  flex: auto;
  font-size: x-large;
  color: black;
  padding-left: 1rem;
}

.rightbar {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: medium;
  padding-right: 1rem;
}

.navbar.sticky.rightbar li{
  color: black;
}

.rightbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 70%;
  justify-content: space-around;
}

.rightbar li {
  margin-left: 1rem;
  padding: 0.25rem 0.6rem;
  border-top: none;
  opacity: 0.65;
  cursor: pointer;
  border-radius: 5%;
  color: black;
  transition: color 0.3s ease, background-color 0.45s;
}

.rightbar li:hover {
  color: beige;
  opacity: 1;
}

@media (max-width: 1240px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .leftbar,
  .rightbar {
    flex: none;
    padding: 1rem;
  }

  .rightbar ul {
    width: 100%;
    padding: 0;
    font-size: small;
    margin: 0;
  }

  @keyframes navbar-animation {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



@media (max-width: 550px) {
  .rightbar {
    font-size: small;
  }
}

@media screen and (max-width: 720px) {
  .leftbar {
    font-size: 1.5rem;
  }

  .rightbar {
    font-size: medium;
    justify-content: center;
  }

  .rightbar ul {
    padding: 0;
    font-size: small;
  }
}

@media (max-width: 560px) {
  .leftbar {
    font-size: medium;
  }

  .rightbar ul {
    font-size: xx-small;
    padding: 0 1%;
  }
}

/* more-page */

.more-page {
  box-shadow: 10px 10px 10px #20E7F9;
  background-image: url("../misc/good-one.gif");
  font-family: 'Press Start 2P', cursive;
}
.more-page .rightbar{
  width: 80%;
}
.more-page .leftbar{
  color: white;
}

.more-page .rightbar li {
  color: white;
  margin-left: 1rem;
  border: 0.2rem solid #20E7F9;
  padding: 0.75rem 0.25rem;
  border-top: none;
  box-shadow: 5px 5px 5px #20E7F9;
  cursor: pointer;
  transition: box-shadow, background-color 450ms;
}

.more-page .rightbar li:hover {
  background-color: #20E7F9;
  box-shadow: 5px 5px 5px white;
}

.more-page .rightbar a {
  text-decoration: none;
  transition: color 0.3s ease;
}
