.tech-container{
    margin-top: 12rem;
}
.tech-used{
    padding: 2% 2%;
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#tech-box {
    align-items: center;
    height: 12vh;
    background: rgb(76, 81, 105);
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5.9px);
    display: flex;
    justify-content: center;
}
.icons{
    height: 10vh;
    width: 10vh;
    padding: 1.5rem 0rem;
}

.icons:hover{
    cursor: pointer;
}

.blocked{
    display: block;
    padding: 0rem 5rem;
}


@media screen and (max-width:960px) {
    .blocked{
        
    }
    
}
