.tech-used{
    padding: 2% 2%;
    height: 35vh;
}
#tech-box{
align-items: center;

 /* From https://css.glass */
background: rgb(76, 81, 105);
border-radius: 0.5rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(5.9px);
border: 4px solid rgba(255, 255, 255, 0.3);
display: flex;
justify-content: space-evenly;

}
.icons{
    height: 10vh;
    width: 10vh;
}